/* ----------------------  General Formatting ---------------------- */

/* Entire page has 3% margin on both sides */

body {
    margin: 3%;
}

/* ----------------------  Menu Formatting ---------------------- */

#menu-items {
    list-style-type: none; /* removes bullet points from menu */
    display: flex; 
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
}

/* adds padding between menu item words */
#menu-item {
    margin-right: 40px;
    font-size: 30px;
}

/* removes blue underline from menu item words */
#menu-item a {
    text-decoration: none;
    color: #333;
}

#menu-item a:hover {
    font-weight: bold;
}

/* ----------------------  About Section Formatting ---------------------- */

/* About Section Box */
#about-section {
    background-color: #e8f4d5;
    padding: 100px;
    height: 650px;
}

/* About Section Content */
#about-content {
    max-width: 50%;
    display: flex;
}

/* About Section Name Header Font Formatting */
#about-content h1 {
    font-size: 80px;
    font-family: 'Sarabun', sans-serif;
}

/* About Section Text Content Font Formatting */
#about-content p {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5; /* spacing between lines */
}

#about-content img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
}


/* Footer */

#footer {
    background-color: #1d2127;
    color: white;
    display: flex;
}

#footer #left-side {
    display: flex;
    padding-left: 100px;
    padding-top: 20px;
}

#footer #right-side {
    padding-left: 50%;
    font-size: 30px;
}


#contact-info a { 
    color: #e35276;
    text-decoration: none;
}