/* ----------------------  General Formatting ---------------------- */

/* Entire page has 3% margin on both sides */

body {
    margin: 3%;
}

/* ----------------------  Menu Formatting ---------------------- */

#menu-items {
    list-style-type: none; /* removes bullet points from menu */
    display: flex; 
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

/* adds padding between menu item words */
#menu-item {
    margin-right: 40px;
}
/* removes blue underline from menu item words */
#menu-item a {
    text-decoration: none;
    color: #333;
}

#menu-item a:hover {
    font-weight: bold;
}

/* ----------------------  About Section Formatting ---------------------- */

/* About Section Box */
#about-section {
    background-color: #e8f4d5;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
}

/* About Section Content */
#about-content {
    display: flex;
    max-width: 100%;
}

/* ensures text is to the left of the profile image */
#text-container {
    order: 1;
    padding-top: 10%;
    flex: 60%;
}

#profile-container {
    order: 2;
    padding-inline-start: 5%;
}

/* About Section Name Header Font Formatting */
#about-content h1 {
    font-size: 88px;
    font-family: 'Sarabun', sans-serif;
}

/* About Section Text Content Font Formatting */
#about-content p {
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7; /* spacing between lines */
}

/* Formatting to create desired image shape */
#about-content img {
    width: 600px;
    height: 750px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    object-fit: cover;
}

#about-content #contact-info a { 
    color: #e35276;
    text-decoration: none;
}

#about-content #contact-info a:hover{
    font-weight: bold;
}

/* ----------------------  Homepage Preview Section Formatting ---------------------- */

#preview-section-container {
    background-color: #fdf2f4;
    margin: 5%;
    padding: 3%;
    display: flex;
    height: auto;
    width: auto;
}

#preview-section-text-container {
    order: 1;
    line-height: 1.7;
    padding-right: 4%;
}

#preview-image-container {
    order: 2;
    display: flex;
    flex-direction: horizontal;
}

#preview-image-container #sperry { 
    width: 400px;
    padding-top: 10%;
    height: 230px;
}

#preview-image-container #shopMyStyle { 
    padding-inline: 7%;
    width: 200px;
    height: 430px;
}

#preview-section-container h2 {
    font-size: 40px;
    font-family: 'Sarabun', sans-serif;
}

#preview-section-container p {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

#preview-section-container a {
    color: #5d8422;
    text-decoration: none;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    padding: 15px;
    border: 2px solid #5d8422;
    display: inline-block;
    border-radius: 10px;
    padding-inline: 50px;
}

#preview-section-container a:hover {
    font-weight: bold;
}

#preview-section-body a {
    list-style-type: none;
}

/* ----------------------  Homepage Skills Preview Section ---------------------- */

#skills-preview-section {
    background-color: white;
    margin: 5%;
}

#skills-section-body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

#skills-section-body #row-1, 
#skills-section-body #row-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: horizontal;
    text-align: center;
    gap: 10%;

}

#skills-section-body li {
    text-decoration: none;
    list-style-type: none;
}

#skills-preview-section h2 {
    font-family: 'Sarabun', sans-serif;
    font-size: 50px;
}

#skills-section-body p {
    border-bottom: 2px solid lightgray;
    flex-grow: 1;
    padding-bottom: 10px;
}

#skills-section-body li a {
    list-style-type: none;
    text-decoration: none;
    color: #e35276;
    padding: 15px;
    border: 2px solid #e35276;
    display: inline-block;
    border-radius: 10px;
}

#skills-section-body li a:hover {
    font-weight: bold;
}

/* ----------------------  Footer Formatting ---------------------- */


#footer {
    background-color: #1d2127;
    color: white;
    display: flex;
}

#footer #left-side {
    display: flex;
    padding-left: 100px;
    padding-top: 20px;
}

#footer #right-side {
    padding-left: 50%;
    font-size: 30px;
}