/* ----------------------  General Formatting ---------------------- */

/* Entire page has 3% margin on both sides */

body {
    margin: 3%;
}

/* ----------------------  Menu Formatting ---------------------- */

#menu-items {
    list-style-type: none; /* removes bullet points from menu */
    display: flex; 
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

/* adds padding between menu item words */
#menu-item {
    margin-right: 40px;
}
/* removes blue underline from menu item words */
#menu-item a {
    text-decoration: none;
    color: #333;
}

#menu-item a:hover {
    font-weight: bold;
}

/* ----------------------  About Section Formatting ---------------------- */

/* About Section Box */
#about-section {
    background-color: #e8f4d5;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
}

/* About Section Content */
#about-content {
    display: flex;
    max-width: 100%;
}

/* ensures text is to the left of the profile image */
#text-container {
    order: 1;
    padding-top: 10%;
    flex: 60%;
}

#profile-container {
    order: 2;
    padding-inline-start: 5%;
}

/* About Section Name Header Font Formatting */
#about-content h1 {
    font-size: 88px;
    font-family: 'Sarabun', sans-serif;
}

/* About Section Text Content Font Formatting */
#about-content p {
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7; /* spacing between lines */
}

/* Formatting to create desired image shape */
#about-content img {
    width: 600px;
    height: 750px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    object-fit: cover;
}

#about-content #contact-info a { 
    color: #e35276;
    text-decoration: none;
}

#about-content #contact-info a:hover{
    font-weight: bold;
}

/* ----------------------  Homepage Preview Section Formatting ---------------------- */

#preview-section-container {
    background-color: #fdf2f4;
    margin: 8%;
    padding: 5%;
}

#preview-section-container h2 {
    font-size: 40px;
    font-family: 'Sarabun', sans-serif;
}

#preview-section-container p {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

#preview-section-container a {
    color: #5d8422;
}

#skills-preview-section {
    background-color: white;
}

/* ----------------------  Footer Formatting ---------------------- */


#footer {
    background-color: #1d2127;
    color: white;
    display: flex;
}

#footer #left-side {
    display: flex;
    padding-left: 100px;
    padding-top: 20px;
}

#footer #right-side {
    padding-left: 50%;
    font-size: 30px;
}